.main-nav {
    background: $accent;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    font-size: 1.2rem;
    overflow: hidden;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
}

li {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $text-inverse;
}

// mobile menu